body{
    background-color: whitesmoke;
}
.message{
    display: flex;
    align-items: center;
}
.deco{
    float: right;
    margin-right: 2%;
}

.jumbotron{
    margin-top: 5%;
    background-color: white;
}

.bloc1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bloc2{
    display: flex;
    flex-direction: column;
    align-content: center;
    color :#C48811;
}

.bloc3{
    display: flex;
}

.photo-para
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.titre{
    border-style: solid;
    border-color: #D7AE24;
    background-color: #F5DE91;
    padding:6%;
    text-align: center;
    border-radius: 10px 10px;
    margin: 5%;
    font-size: 400%;
}

.mibloc1, .mibloc2, .mibloc3
{
    flex:1;
    display: flex;
    align-items:center;
    justify-content:space-around;
    text-align: center;
    border-style: solid;
    border-color: #D7AE24;
    background-color: #F5DE91;
    border-radius: 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    margin:3%;
}

.footers{
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
}

.box{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: #D7AE24;
    background-color: #F5DE91;
}
.box1, .box2, .box3, .box4, .box5, .box6
{
    flex: 1;
    border-style: solid;
    border-color: #D7AE24;
    background-color: #F5DE91;
    border-radius: 5px 5px;
    margin: 5px;
    padding: 3px;
    
}
.lien{
    color:black;
    text-decoration:none;
    text-align: center;
}

.bienvenue{
    display: flex;
    align-items:center;
    justify-content:space-around;
    border-style: solid;
    border-color: #D7AE24;
    background-color: #F5DE91;
    border-radius: 5px 5px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.image{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.pet_cam{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.pet_video{
    display:block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.btn-retour{
    justify-content: flex-end;
}

.condition{
    background-color: #F5DE91;
    text-align: center;
}

.map{
    margin: auto;
    margin-top: 6%;
}

.mobile{
    display: none;
}

.contact{
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    align-items: center;
}
.deco{
    justify-content: right;
    align-items:flex-end;
}

@media screen and (max-width : 800px){
    .box{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .photo{
        display: none;
    }
}